main { 
	margin-top: 0.5em;
	background-color: white;
<<<<<<< HEAD
<<<<<<< HEAD
	border-radius: 3px 3px 3px 3px;
=======
	border-top-right-radius: 15px;
>>>>>>> agregada una esquina doblada sonbras y un borde redondeado en el main del index
=======
	border-radius: 3px 3px 3px 3px;
>>>>>>> cambios ligeros al commit anterior
	box-shadow: 10px 10px 5px #888888;
}

.slogan { 
	font-weight: bolder; font-size: 2.5em;
}

.carousel slide{
	height: 100px;
	text-align: center;
}

.carousel-control{
		padding-top: 15%;
		padding-bottom: 15%;
		font-size: 60px !important;
	}
body{
	background-color: #E77817;
}

.img1{
	float: right;
}